{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "The nature shop" %}</title>
</head>
<body>

<a href="{% url 'index' %}">
    <h1>{% trans "The nature shop" %}</h1>
</a>

{% if user.is_authenticated %}
   {{ user.email }}
<a href="{% url 'accounts:profile' %}">{% trans "My profile" %}</a>
<a href="{% url 'accounts:logout' %}">{% trans "Disconnect" %}</a>
{% else %}
   <a href="{% url 'accounts:login' %}">{% trans "Log in" %}</a>
   <a href="{% url 'accounts:signup' %}">{% trans "Sign up" %}</a>
{% endif %}

{% if user.cart %}
  <p>
      <a href="{% url 'store:cart' %}">{% blocktrans with counter=user.cart.orders.count %}View Cart ({{ counter }}){% endblocktrans %}</a>
  </p>
      {% endif %}


{% block content %}
{% endblock %}

</body>
</html>

